<volist name="userlist" id ="data" empty="没有数据啦">
    <div class='col-sm-4 col-xs-6'>
        <div class='contact-box' id="moderater-opt-{$data.id}">           
            <a href='#'>
                <div class='col-xs-4'>
                    <div class='text-center'>
                        <if condition="$data.oauth eq 1">
                            <img alt="image" class='img-circle m-t-xs img-responsive' src="{$data['wx_head']|default='__IMG__/default_head1.png'}" style="width: 120px;height: 120px;">
                            <div class='m-t-xs font-bold'>{$data['wx_nick_name']|default="会员呢称"}</div>
                            <else/>
                            <img alt="image" class='img-circle m-t-xs img-responsive' src="{$data['qq_head']|default='__IMG__/default_head1.png'}" style="width: 120px;height: 120px;">
                            <div class='m-t-xs font-bold'>{$data['qq_nick_name']|default="会员呢称"}</div>
                        </if>
                    </div>
                </div>
                <div class='col-xs-7'>
                    <h3><i class='fa fa-user'></i>姓名:{$data['name']}</h3>
                    <address>                      
                        <i class='glyphicon glyphicon-earphone'></i>联系方式:{$data['mobile']}<br/>  
                        来源:{$data['oauth']==2?'QQ互联':($data['oauth']==1?'微信':'本站')}<br/>
                        会员呢称: {$data['nickname']}<br/>
                        会员积分：{$data['point']}分<br/>
                        会员状态：{$data['status']==0?"未审核":($data['status']==1?"正常":($data['status']==2?"禁言":($data['status']==3?"封号":"未知")))}<br/>
                    </address>
                </div>
                <div class='col-sm-12'style="text-align: right">                   
                    <a class="option-btn moderater-opt" 
                       data-url="{:U('User/setmoderater')}"                     
                       data-userid="{$data.id}"  >
                        确定</a>
                </div>
                <div class='clearfix'></div>
            </a>
        </div>
    </div>
</volist>