<volist name="userlist" id ="data" empty="没有数据啦">
    <div class='col-sm-4'>
        <div class='contact-box'>
            <div class="moderate_catename" id="moderate-catename-{$data['id']}">{$data['status']==0?"未审核":($data['status']==1?"正常":($data['status']==2?"禁言":($data['status']==3?"封号":"未知")))}</div>
            <a href='#'>
                <div class='col-sm-4'>
                    <div class='text-center'>
                        <if condition="$data.oauth eq 1">
                            <img alt="image" class='img-circle m-t-xs img-responsive' src="{$data['wx_head']|default='__IMG__/default_head1.png'}" style="width: 120px;height: 120px;">
                            <div class='m-t-xs font-bold'>{$data['wx_nick_name']|default="会员呢称"}</div>
                            <else/>
                            <img alt="image" class='img-circle m-t-xs img-responsive' src="{$data['qq_head']|default='__IMG__/default_head1.png'}" style="width: 120px;height: 120px;">
                            <div class='m-t-xs font-bold'>{$data['qq_nick_name']|default="会员呢称"}</div>
                        </if>

                    </div>
                </div>
                <div class='col-sm-8'>
                    <h3><i class='fa fa-user'></i>姓名:{$data['name']}</h3>
                    <p><i class='fa fa-map-marker'></i>地址:{$data['address']}</p>
                    <p><i class='fa fa-map-marker'></i>来源:{$data['oauth']==2?'QQ互联':($data['oauth']==1?'微信':'本站')}</p>
                    <address>                      
                        <i class='glyphicon glyphicon-earphone'></i>联系方式:{$data['mobile']}<br/>                       
                        注册时间：{$data['reg_time']|friend_date}<br/>
                        会员积分：<span id="user-point-{$data['id']}">{$data['point']}分</span><br/>
                    </address>
                </div>
                <div class='col-sm-12'style="text-align: right">
                    <if condition="$data.status == 1">
                        <a class="option-btn gag-btn" id="gag-{$data['id']}" data-userid="{$data.id}" data-retext='放言' data-type="2" data-retype="1">禁言</a>
                        <else/>
                        <a class="option-btn gag-btn" id="gag-{$data['id']}" data-userid="{$data.id}" data-retext='禁言' data-type="1" data-retype="2">放言</a>
                    </if>
                    <a class="option-btn addpoint-btn" data-userid="{$data.id}">加分</a>
                    <a class="option-btn reducepoint-btn" data-userid="{$data.id}">减分</a>
                    <if condition="$data['type'] eq 1">
                        <a class="option-btn moderater-opt"
                           data-url="{:U('User/setmoderater')}"
                           id="moderater-opt-{$data.id}" 
                           data-userid="{$data.id}"
                           data-username="{$data.name}" 
                           data-cateid="{$data.cateid}"
                           data-retext="设为版主" 
                           data-type="0"
                           data-retype="1">
                            取消版主
                        </a>
                        <else/>
                        <a class="option-btn moderater-opt" 
                           data-url="{:U('User/setmoderater')}" 
                           id="moderater-opt-{$data.id}" 
                           data-userid="{$data.id}"                          
                           data-retext="取消版主" 
                           data-type="1" 
                           data-retype="0"
                           data-cateid="{$data.cateid}"
                           >
                            设为版主
                        </a>
                    </if>
                    <if condition="$data['type'] eq 2">
                        <a class="option-btn admin-opt"
                           data-url="{:U('User/setadmin')}"                         
                           data-userid="{$data.id}"  
                           data-retext="设为超管" 
                           data-type="0"
                           data-retype="1">
                            取消超管
                        </a>
                        <else/>
                        <a class="option-btn admin-opt" 
                           data-url="{:U('User/setadmin')}"                            
                           data-userid="{$data.id}"                         
                           data-retext="取消超管" 
                           data-type="3" 
                           data-retype="1"                    
                           >
                            设为超管
                        </a>
                    </if>
                    <if condition="$data['status'] eq 3">
                        <a class="option-btn lockuser-opt"
                           data-url="{:U('User/lockuser')}"                         
                           data-userid="{$data.id}"  
                           data-retext="封号" 
                           data-type="1"
                           data-retype="3">
                            解封
                        </a>
                        <else/>
                        <a class="option-btn lockuser-opt" 
                           data-url="{:U('User/lockuser')}"                            
                           data-userid="{$data.id}"                         
                           data-retext="解封" 
                           data-type="3" 
                           data-retype="1"                    
                           >
                            封号
                        </a>
                    </if>
                </div>
                <div class='clearfix'></div>
            </a>
        </div>
    </div>
</volist>